@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center">
    <h1 class="display-4"><b>Get to know the man himself!</b></h1>
</div>

<div class="text-center">
    <p>I am a regular performer at the Quick Wits Comedy Club in Midvale, Utah!</p>
    <p><a href="https://www.qwcomedy.com/" target="_blank">Click here to get more info</a></p>
    <img width="500" src="~/img/qwcomedy.jpg" /><br /><br /><br /><br /><br />

    <p>I also am a host of a weekly podcast called <b>Baconsale</b> where we talk all about films and pop culture!</p>
    <p><a href="https://baconsale.com/" target="_blank">Click here to get more info</a></p>
    <a href="https://baconsale.com/" target="_blank">
        <img width="500"src="~/img/baconsalekate.jpg" alt="Baconsale Kate Image" />
    </a>

</div>
<br />