@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><b>The Joel Hilton Film Collection</b></h1>
</div>

<div class="text-center">
    <p>Welcome! I am Joel Hilton, and this website is to keep track and share my opinions about a ton of different movies!</p>
    <img src="~/img/joelhiltonheadshot.jpg" />
</div>
<br /><br />

<div style ="text-align:center">
    <a asp-controller="Home" asp-action="movieDB">View Database</a>
</div>


